
.lista-notas {
  background-color: var(--fundo);
  flex-grow: 3;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  list-style-type: none;
  padding-left: 24px;
  padding-top: 24px;
}
.lista-notas_item {
  margin: 12px;
  max-width: 240px;
  max-height: 400px;
  display: inline;
}
